.card{
    width: calc(100%-40px);
    background-color: #fff;
    border: 1px solid #cecece;
    box-shadow: 0 0 2px 2px #cecece;
    margin: 20px;

}
.cardheader{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    border-bottom: 1px solid #cecece;
}